<h1 class="text-2xl font-semibold leading-6 text-gray-900">Current Weather</h1>

<%= render "application/address_form" %>

<% if @current_weather %>
  <h2>Current weather for: <%= @current_weather.location.name %></h2>
  <p>Summary: <%= @current_weather.summary %></p>
  <p>Description: <%= @current_weather.description %></p>
  <p>From cache: <%= @current_weather.from_cache %></p>
  <ul>
    <li>Temperature: <%= format_temperature(@current_weather.temp) %></li>
    <li>Feels like: <%= format_temperature(@current_weather.feels_like) %></li>
    <li>High: <%= format_temperature(@current_weather.temp_max) %></li>
    <li>Low: <%= format_temperature(@current_weather.temp_min) %></li>
    <li>Pressure: <%= @current_weather.pressure %></li>
    <li>Humidity: <%= @current_weather.humidity %></li>
    <li>Wind speed: <%= @current_weather.wind_speed %></li>
  </ul>
<% end %>
