<h1 class="text-2xl font-semibold leading-6 text-gray-900">Weather</h1>

<% if @location.current_weather %>
  <h2>Current weather for <%= @location.name %></h2>
  <p>Summary: <%= @location.current_weather.summary %></p>
  <p>Description: <%= @location.current_weather.description %></p>
  <ul>
    <li>Temperature: <%= @location.current_weather.temp %></li>
    <li>Feels like: <%= @location.current_weather.feels_like %></li>
    <li>High: <%= @location.current_weather.temp_max %></li>
    <li>Low: <%= @location.current_weather.temp_min %></li>
    <li>Pressure: <%= @location.current_weather.pressure %></li>
    <li>Humidity: <%= @location.current_weather.humidity %></li>
    <li>Wind speed: <%= @location.current_weather.wind_speed %></li>
    <li>From cache: <%= @location.from_cache %></li>
  </ul>
<% end %>

<% if @location.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@location.errors.count, "error") %> prevented the retrieval of weather data.</h2>
    <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @location, url: location_path, method: :get, local: true do %>
  <div>
    <%= label_tag :zip, "Zip code:" %>
    <%= text_field_tag :zip, params[:zip] %>
    <%= submit_tag "Get Weather", name: nil, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
